{{ define "base" }}
<html lang="en">
    <head>
        <title>FF1 Go</title>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> 
    </head>
    <body>
        <header>
            <h2>FF1 Go</h2>
            <h4>Fantasy F1 Game</h4>
            <div>
            {{ if .Email }}
                <h4>You are logged in as {{.Email}}</h4>
            {{ end }}
            <nav>
                <a href="/"><button>Home</button></a>
                <a href="/display-points"><button>Points</button></a>
                <a href="/display-leagues"><button>Leagues</button></a>
                {{ if .User.IsAdmin }}
                    <a href="/admin/admin-page"><button>Admin</button></a>
                {{ end }}
                <a href="/logout"><button>Logout</button></a>
            </nav>

            </div>
        </header>
        <body>
            {{ template "main" . }}
        </body>
    </body>
</html>
{{ end }}