{{ define "main" }}
    <div>
        <h3>{{ .LeagueName }}</h3>
        <ol>
            {{ range .Users }}
                {{ if and .TeamName .TeamPriciple }}
                    {{ $baseUrl := "/display-member-team?" }}
                    <li><a href="{{ $baseUrl }}email={{ .Email }}">{{ .TeamName }}</button>({{ .TeamPriciple }}) <span>{{ .SeasonPoints }}</span> </li>
                {{ else }}
                    <li>{{ .Email }} <span>{{ .SeasonPoints }}</span> </li>
                {{ end }}
            {{ end }}
        </ol>
    </div>
{{ end }}