{{ define "main" }}
    <body>
        <div 
            x-data="{all_drivers: [], selected_drivers: []}"
            x-init="all_drivers = await (await fetch('/api/all_drivers')).json()"
        >
        <h2>Drivers</h2>
            <ul>
                <template x-for="driver in all_drivers">
                    <li>
                        <div x-text="driver.name"></div>
                        <div x-text="driver.price"></div>
                    </li>
                </template>
            </ul>
        </div>

    </body>
{{ end }}