{{ define "main" }}
    <body>
        <form x-data="driverSelectionForm({{ .TemplData }})" @submit.prevent="submitForm()" action="/save-team">
                <div>
                    <h5>Budget Left: $<span x-text="totalCost"></span></h5>
                    <h4>Selected Drivers</h4>
                    <template x-for="driver in data.selectedDrivers">
                        <li> 
                            <span x-text="driver.name"></span>
                            <span>$</span>
                            <span x-text="driver.price"></span>
                            <button type="button" x-on:click="addDriver(driver, data.allDrivers);removeDriver(driver, data.selectedDrivers)">Remove</button>
                        </li>
                    </template>
                </div>

                <div x-data="{ 
                    get isInvalid() { return totalCost < 0 || data.selectedDrivers.length != 4 }
                }">

                    <h4 x-show="isInvalid">You team needs to cost less than <span x-text="data.budget"></span> and you need to select exactly 4 drivers</h4>

                    <button x-bind:disabled="isInvalid" >Save Team</button>
                </div>

                <div>
                    <h4>Available Drivers</h4>
                    <ul>
                        <template x-for="driver in data.allDrivers">
                            <li>
                                <span x-text="driver.name"></span>
                                <span>$</span>
                                <span x-text="driver.price"></span>
                                <button type="button" x-on:click="addDriver(driver, data.selectedDrivers);removeDriver(driver, data.allDrivers)">Select</button>
                            </li>
                        </template>
                    </ul>
                </div>

            </div>


            <script>
                function driverSelectionForm(data) {
                    console.log(data)
                    return {
                        data: {
                            allDrivers: data.AllDrivers,
                            selectedDrivers: data.Team,
                            budget: data.Budget
                        },
                        get totalCost() { 
                            return this.data.budget - this.data.selectedDrivers.reduce((acc, i) => acc + i.price, 0)
                        },
                        get selected() { return this.data.selectedDrivers.sort((a,b) => a.price < b.price) },
                        get available() { return this.data.allDrivers.sort((a,b) => a.price < b.price) },
                        sortByPrice(drivers) {
                            return drivers.sort((a,b) => a.price < b.price)
                        },
                        addDriver(driver, list) {
                            list.push(driver)
                            this.sortByPrice(list)
                        },
                        removeDriver(driver, list) {
                            const index = list.indexOf(driver)
                            if (index > -1) {
                                list.splice(index, 1)
                            }
                        },
                        submitForm() {
                            fetch("/api/save-team", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(this.data.selectedDrivers)
                            })
                            .then((data, textSatus) => {
                                console.log(data)
                                console.log(textSatus)
                                window.location.href = data.redirect;
                            })
                        }
                    }
                }

            </script>
        </form>

    </body>
{{ end }}