<html>
    <head>
        <title>FF1 Go</title>
    </head>
    <body>
        <header>
            <h2>FF1 Go</h2>
            <h4>Fantasy F1 Game</h4>
            <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> 
        </header>
        <body>
            <form action="/logincode" method="post">
                <div>
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" required>
                </div>
                <div>
                    <input type="submit" value="Get Login Code">
                </div>
            </form>
        </body>
    </body>
</html>