<html>
    <head>
        <title>FF1 Go</title>
    </head>
    <body>
        <header>
            <h2>FF1 Go</h2>
            <h4>Fantasy F1 Game</h4>
            <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> 
        </header>
        <body>
            <form action="/logincode" method="post">
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div>
                    <input type="submit" value="Get Login Code">
                </div>
            </form>

            <div><h2>Welcome to the world of Fantasy Formula 1!</h2></div>
            <div>
                <h4>
                    <b>How does it work?</b> In this exciting game, you'll get to build your own racing team and compete against other players from around the world.
                </h4>

                    Step 1: Choose a team name and assemble a team by using your budget to buy the 4 best drivers. You need to select 4 drivers every race week before qualifying starts.</br></br>
                    
                    Step 2: Create or join a league with friends, colleagues and family. When creating a league you will receive a league password by email that you can share with others to join your league.</br></br>
                    
                    With each race, you'll earn points equal to the points the drivers in your team earned during that race weekend(including sprint qualifying points).</br></br>
                    
                    So what are you waiting for? Get behind the wheel and experience the thrill of Fantasy Formula 1 today!</br></br>
            </div>
        </body>
    </body>
</html>