{{ define "main" }}
    {{ if .IsAdmin }}
        <h4>Go to Admin Page</h4>
        <form action="/admin/admin-page" method="get">
            <input type="submit" value="Admin Page"/>
        </form>
    {{ end}}
    {{ if .Leagues }}
        <h3>My Leagues</h3>
        {{ $baseUrl := "/display-league?" }}
        {{ range .Leagues }}
            <a href="{{ $baseUrl }}{{ .Name }}={{ .Passcode }}" >{{ .Name }}</a><br/>
        {{ end }}
    {{ end }}
    <div>
        <form action="/league" method="get">
            <input type="submit" value="Join or Create a League"/>
        </form>
    </div>
    {{ if .Team }}
        <h4>Your current team:</h4>
        {{range .Team}}
            <li>{{.Name}} <span>${{.Price}}</span></li>
        {{ end }}
        <form action="/repick-team" method="put">
            <input type="submit" value="Change team"/>
        </form>
    {{ else }}
        <form action="/pick-team" method="get" >
            <input type="submit" value="Pick Team"/>
        </form>
    {{ end }}
{{ end }}