<html>
    <head>
        <title>FF1 Go</title>
    </head>
    <body>
        <ul>
            {{ range . }}
            <li>{{ .Name }}  {{ .Price }}</li>
            {{ end }}

        </ul>
    </body>
</html>