<html>
    <head>
        <title>FF1 Go</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> 
    </head>
    <body>
        <header>
            <h2>FF1 Go</h2>
            <h4>Fantasy F1 Game</h4>
        </header>
        <body>
            <form action="/login?email={{.Email}}" method="post">
                <div>
                    <label for="code">Enter code sent to {{.Email}}</label>
                    <input type="text" name="code" id="code" required>
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </body>
    </body>
</html>
