{{ define "main" }}
    {{ range .RacePoints }}
        {{ if gt .Race.Race 0 }}
            {{ if .Drivers }}
                <h3>Total Points For Race <span>{{ .Race.Race }}: <b>{{ .Total }}</b></span></h3>
                {{ range .Drivers }}
                    <div>{{.Name}} {{.Surname}} {{.Points}}</div>
                {{ end }}
            {{ else }}
                <h3>Total Points For Race <span>{{ .Race.Race }}: <b>0</b></span></h3>
                <div>No Team Selected For Race: <span>{{ .Race.Race }}</span></div>
            {{ end }}
        {{ end }}
    {{ end}}
{{ end }}